@charset 'UTF-8';

html {
  font: {
    size: 62.5%;
  }
}

body {
  color: #000;
  background-color: #fff;
  font: {
    size: 1.4rem;
  }
}

.info {
  color: #fff;
  background-color: #339;
  transition: background-color .3s;

  &:hover {
    background-color: lighten(#339, 30);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    font: {
      size: 1.6rem;
      weight: bold;
    }

    $header: #{&};

    &--finished {
      @extend #{$header};
      text-decoration: line-through;
    }
  }

  &__title {
    margin: 0;
  }

  &__date {
    margin: {
      right: 1em;
    }
    font: {
      weight: normal;
      size: 1.2rem;
    }
  }
}
